<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapper와 이름 맞춰주기 -->
<mapper namespace="org.green.mapper.GalleryMapper">
	<select id="getList" resultType="org.green.domain.GalleryVO">
		select * from tbl_gallery
	</select>
	
	<insert id="insert">
		insert into tbl_gallery(gno, title, writer, filename, uploadpath, category, content, fullname)
		values(gal_seq.nextval, #{title}, #{writer}, #{fileName}, #{uploadPath}, #{category}, #{content}, #{fullName})
	</insert>
	
	<select id="read" resultType="org.green.domain.GalleryVO">
		select * from tbl_gallery where gno = #{gno}
	</select>
	
	<delete id="delete">
		delete from tbl_gallery where gno = #{gno}
	</delete>
	
	<update id="update">
		update tbl_gallery set title=#{title}, writer=#{writer}, category=#{category}, content=#{content}, fullname=#{fullName} where gno=#{gno}
	</update>
</mapper>